<h2> {{ otherItem.name }}</h2>
<div class='parent'>
  <div class = "card" id = 'card1'>
  <p>Ocean Trust<p>
  <select id = 'amount1'>
    <option value = '1'></option>
    <option value = '2'>1.25</option>
    <option value = '3'>1.5</option>
    <option value ='4'>1.75</option>
  </select>
  <select id ='liqour1'>
    <option value='1'></option>
    <option value="2">Reyka</option>
    <option value="3">Pineapple</option>
    <option value ="4">Malibu</option>
  </select>
  <br>
  <select id = 'amount2'>
    <option value ='1'></option>
    <option value ='2'>1 TBS</option>
    <option value ='3'>2 TBS</option>
  </select>
  <select id ='fruit'>
    <option value ='1'></option>
    <option value ='2'>Strawberry</option>
    <option value ='3'>Mango</option>
    <option value ='4'>Both of the above</option>
  </select>
  <br>
  <select id = 'amount3'>
    <option value = '1'></option>
    <option value ='2'>.5</option>
    <option value ='3'>1</option>
    <option value ='4'>1.25</option>
  </select>
  <select id = 'mixer1'>
    <option value ='1'></option>
    <option value ='2'>Sour Mix</option>
    <option value ='3'>Lemon Juice</option>
    <option value ='4'>Lime Simple</option>
  </select>
  <br>
  <select id='amount4'>
    <option value ='1'></option>
    <option value ='2'>2 pumps</option>
    <option value='3'>3 pumps</option>
    <option value='4'>4 pumps</option>
  </select>
  <select id ='flavors'>
    <option value ='1'></option>
    <option value ='2'>Spicy Mango Monin</option>
    <option value ='3'>Habanero Lime Monin</option>
    <option value ='4'>Both of the above</option>
  </select>
  <button id ='submit1'>Submit</button>
  <button class='next1' (click)='onDelete()'>NEXT</button>
  </div>
</div>
